<% content_for :title, "FAQ" %>
<% content_for :meta_description, "Foire aux question et contact"%>

<section class="mt-6 mb-6 p-12 flex flex-col gap-12 max-md:p-4 w-full max-sm:p-6 max-sm:mt-0 items-center self-center">
  <div class="flex flex-col items-center gap-3">
    <h1 class="text-3xl sm:text-center">Consultez notre faq</h1>
    <p class="sm:text-center max-w-sm">Avant de nous contacter, consultez notre faq pour trouver potentiellement une réponse à votre question.</p>
  </div>

  <div class="flex flex-col gap-3 max-w-4xl">
    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Comment puis-je créer un compte sur Patte à Patte ? </h2>
          <div class=" button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Pour créer un compte, cliquez sur "S'inscrire" en haut à droite de la page d'accueil. Remplissez les informations nécessaires et confirmez votre adresse e-mail. Vous pourrez ensuite accéder à tous les services de la plateforme.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Comment puis-je publier une annonce ? </h2>
          <div class=" button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Après avoir créé votre compte, connectez-vous et cliquez sur "Publier une annonce". Suivez les instructions pour décrire le service ou l'accessoire que vous souhaitez proposer. Ajoutez des photos et des détails pour attirer les autres membres de la communauté.        </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Quels types de services puis-je trouver sur Patte à Patte ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg  xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Sur Patte à Patte, vous pouvez trouver une variété de services pour vos animaux, tels que la garde, la promenade, le toilettage, l'éducation, et bien plus encore. Vous pouvez également acheter, vendre ou donner des accessoires et des équipements pour animaux.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Comment fonctionne le système de paiement ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Le paiement des services et des articles se fait directement entre les utilisateurs via notre plateforme sécurisée en utilisant Stripe. Nous vous recommandons fortement d'effectuer toutes les transactions par l'intermédiaire de notre service de paiement intégré pour garantir la sécurité. Assurez-vous également de vérifier les évaluations des autres utilisateurs avant de finaliser une transaction.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Comment puis-je assurer la sécurité de mon animal pendant un service ? </h2>
          <div class=" button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Nous vous conseillons de toujours rencontrer les prestataires de services en personne avant de confier votre animal. Vérifiez les références et les évaluations laissées par d'autres membres de la communauté. N'hésitez pas à poser des questions pour vous assurer que le prestataire a l'expérience nécessaire pour s'occuper de votre animal.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Que faire si j'ai un problème avec un service ou un achat ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Si vous rencontrez un problème avec un service ou un achat, contactez notre service client via la section "Nous contacter" sur notre site. Nous ferons de notre mieux pour vous aider à résoudre la situation.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Puis-je laisser des avis sur les services et les articles ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Oui, après avoir utilisé un service ou acheté un article, vous pouvez laisser un avis sur le profil du prestataire ou du vendeur. Les avis aident à maintenir la qualité des offres sur Patte à Patte et à créer une communauté de confiance.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Est-ce que Patte à Patte est disponible dans toute la France ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Oui, Patte à Patte est disponible partout en France. Peu importe où vous êtes, vous pouvez utiliser notre plateforme pour trouver des services et des accessoires pour vos animaux.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Comment puis-je modifier ou supprimer mon annonce ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Pour modifier ou supprimer votre annonce, connectez-vous à votre compte et allez dans la section "Mes annonces". Vous pourrez y apporter les modifications nécessaires ou supprimer l'annonce si vous le souhaitez.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Est-ce que l'inscription à Patte à Patte est gratuite ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
            Oui, l'inscription à Patte à Patte est entièrement gratuite. Vous pouvez créer un compte, publier des annonces et contacter d'autres membres sans frais.
          </p>
        </div>
    </div>

    <div class="flex flex-col bg-complementary py-3 px-6 rounded overflow-hidden relative gap-1 container_question">
        <div class="flex justify-between items-center gap-6">
          <h2 class="text-xl"> Comment puis-je contacter le service client de Patte à Patte ? </h2>
          <div class="button-faq bg-secondary p-1 w-fi rounded-full arrow_icon h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow_question w-8 h-8 arrow_rotate_off" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
            </svg>
          </div>
        </div>
        <div class="question_off question">
          <p>
             Vous pouvez contacter notre service client en utilisant le formulaire de contact disponible sur notre site ou en envoyant un e-mail à support@patteapatte.fr. Notre équipe vous répondra dans les plus brefs délais.
          </p>
        </div>
    </div>

  </div>
  
</section>
<section class="mt-12 mb-24 p-14 flex flex-col gap-12 max-md:p-4 color-complementary items-center">
  <div class="flex flex-col gap-8 bg-primary rounded p-12 relative max-w-3xl">
    <div class="absolute bottom-icone-contact">
      <img class="min-w-28 max-sm:hidden" src="<%= asset_path('illustrations/dog.svg') %>" alt="Batman qui déchire le journal">
    </div>
    <h1 class="text-3xl">Contactez-nous</h1>
    <div class="flex gap-6 max-sm:flex-col">
      <p>
        Si vous n'avez pas trouvé de réponse à vos questions, nous serons ravi de vous aider par mail ou par téléphone.
      </p>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-center">
          <div class="rounded-full p-3 bg-secondary h-fit w-fit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope icone_contact" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg>
          </div>
          <div>
            <h3 class="font-bold">Email</h3>
            <p>contact@patteapatte.com</p>
          </div>
        </div>
        <div class="flex gap-3 items-center">
          <div class="rounded-full p-3 bg-secondary h-fit w-fit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone icone_contact" viewBox="0 0 16 16">
              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
            </svg>
          </div>
          <div>
            <h3 class="font-bold">Téléphone</h3>
            <p>00 00 00 00 00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>