<section class="mt-40 flex gap-6 max-lg:flex-col max-lg:items-center px-36 py-0 justify-center items-end max-lg:gap-12  max-sm:px-12">
    <div class="flex flex-col gap-6 w-2/5 pb-36 max-lg:pb-0 max-xl:w-full">
        <h1 class="text-3xl color-secondary">Des bons plans entre compagnons à pattes.</h1>
        <p>
        Chez Patte à Patte, on pense que les animaux méritent le meilleur, et pas seulement des croquettes premium. Sur notre plateforme, échangez, vendez et trouvez des services pour vos compagnons à poils, à plumes ou à écailles! Tout ce dont vos animaux rêvent (même s'ils ne le savent pas encore) est à portée de clic!
        Le petit coup de patte qui unit les propriétaires d'animaux..
        </p>
        <a href="/about" class="btn_primary"> En savoir plus</a>
    </div>
    <div class="w-3/5 max-xl:w-full">
        <%= image_tag("illustrations/paws.svg", alt: "Paws", class: "mx-auto w-3/5") %>
    </div>
</section>

<section class="bg-complementary rounded w-full gap-12 p-12 flex flex-col justify-center items-center mb-24">
  <h1 class="text-3xl color-primary text-center"> Nos catégories</h1>
  <div class="max-lg:flex-col max-w-6xl px-24 flex gap-12 flex items-start justify-center max-sm:px-0">
      <div class="flex flex-col items-center gap-3">
        <div class="bg-secondary rounded-full w-36 h-36 p-6 flex items-center">
          <%= image_tag("icones/icon-product.svg", alt: "icone-bazar") %>
        </div>
        <div class="flex flex-col items-center gap-5">
          <h2 class="text-2xl text-center">Bazar des pattes</h2>
          <p class="text-center">
            Plusieurs produits occasionnels qui peuvent faire le bonheur de votre ou vos compagnons à pattes.
          </p>
          <a href="/offers/vente" class="btn_primary"> Découvrir</a>
        </div>
      </div>

      <div class="flex flex-col items-center gap-5">
        <div class="bg-secondary rounded-full w-36 h-36 p-6 flex items-center">
          <%= image_tag("icones/icone-service.svg", alt: "icone-bazar") %>
        </div>
        <div class="flex flex-col items-center gap-3">
          <h2 class="text-2xl text-center">Coup de patte</h2>
          <p class="text-center">
            Proposez ou trouvez des services qui peuvent aider les autres propriétaires d’animaux de compagnie.
          </p>
          <a href="/offers/service" class="btn_primary"> Découvrir</a>
        </div>
      </div>

      <div class="flex flex-col items-center gap-5">
        <div class="bg-secondary rounded-full w-36 h-36 p-6 flex items-center">
          <%= image_tag("icones/icone-adoption.svg", alt: "icone-bazar") %>
        </div>
        <div class="flex flex-col items-center gap-3">
          <h2 class="text-2xl text-center">Adopte une patte</h2>
          <p class="text-center">
            Envie d’adopter un animal ? Trouvez votre futur compagnon pour la vie grâce à d’autres propriétaires d’animaux.
          </p>
          <a href="/offers/adoption" class="btn_primary"> Adopter</a>
        </div>
      </div>
  </div>
</section>
