<% content_for :title, "Paiement réussi" %>
<% content_for :meta_description, "Page de validation de paiement"%>
<section class="max-w-screen-2xl mt-6 mb-6 p-12 flex flex-col gap-3 max-md:p-4 w-full max-sm:p-6 max-sm:mt-0 items-center self-center">
        <h1 class="text-3xl">Succès</h1>
        <p>Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
        <a href="/" class="btn_primary">Revenir à la page d'accueil</a>
</section>
