<% content_for :title, "Modifier un animal" %>
<% content_for :meta_description, "Page d'ajout d'un animal de compagnies"%>

<section class="flex flex-col section max-xl:p-4 p-14">
  <div class="flex flex-col w-full items-center">
    <div class="flex flex-col gap-2 bg-complementary rounded px-8 pt-6 pb-8">
      <h1 class="text-3xl">modifier son profil</h1>
      <%= render 'form', pet: @pet %>
    </div>
  </div>
</section>
