<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci <%= @user.first_name %> <%= @user.last_name %> pour votre commande sur Patte à Patte !</h1>
    
    <p>Vous avez commandé : <%= @offer.title %></p>
    
    <!-- Ajoutez d'autres détails de la commande ici, en fonction de vos besoins -->

    <p>Merci de votre confiance !</p>
  </body>
</html>
