<%if @typeoffer.present? && @typeoffer.type_offer == "Service"%>
  <%= render 'offers/index_services' %>
<%elsif @typeoffer.present? && @typeoffer.type_offer == "Vente"%>
  <%= render 'offers/index_products' %>
<%elsif @typeoffer.present? && @typeoffer.type_offer == "Adoption"%>
  <%= render 'offers/index_adoptions' %>
<%elsif @offers_search.present?%>
  <%= render 'offers/index_search' %>
<%else%>
<section class="w-full flex justify-center items-center">
  <p class="mt-24 text-center"> Aucun article trouvé.</p>
</section>
<%end%>