<section class="flex flex-col section mb-24 mt-24">
  <div class="flex flex-col w-full items-center">
    
    <div class="flex flex-col gap-6 bg-complementary rounded p-8">
      <h1 class="text-3xl">Déposer une annonce</h1>
        <%= render 'form', offer: @offer %>
    </div>
    </div>
</section>