<section class="flex flex-col pt-20 pb-20">
  <div class="flex flex-col w-full items-center">
    
    <div class="flex flex-col gap-6 bg-complementary rounded p-8">
      <h1 class="text-3xl">Déposer une annonce</h1>
        <%= render 'form', offer: @offer %>
    </div>
    </div>
    <div class="absolute bottom-icone-form">
          <img class="min-w-28 max-sm:hidden" src="<%= asset_path('illustrations/angry-cat.svg') %>" alt="Batman qui déchire le journal">
        </div>
</section>