/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "application.tailwind.css";

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.5rem;
  --secondary_color: #df9d1d;
  --primary_color: #0f4a38;
  --complementary_color: #f4e9d5;
  --tiercary_color: #e35b27;
  --current_color: #07271d;
  --background_color: #fffbf3;
  color: var(--current_color);
  height: 100%;
  width: 100%;
  background-color: var(--background_color);
}

.btn_primary {
  background-color: var(--primary_color);
  border-radius: 999px;
  color: var(--complementary_color);
  padding: 0.3rem 1.3rem;
  width: fit-content;
}

.btn_primary:hover {
  color: var(--current_color);
  background-color: var(--secondary_color);
}

.btn_secondary {
  background-color: var(--secondary_color);
  border-radius: 999px;
  color: var(--current_color);
  padding: 0.3rem 1.3rem;
}

.btn_secondary:hover {
  color: var(--complementary_color);
  background-color: var(--primary_color);
}

.btn_danger {
  background-color: var(--tiercary_color);
  border-radius: 999px;
  color: var(--current_color);
  padding: 0.3rem 1.3rem;
}

.btn_danger:hover {
  color: var(--current_color);
  background-color: var(--secondary_color);
}

h1 {
  font-family: "Ultra", serif;
  font-style: normal;
}

h2 {
  font-style: italic;
  line-height: 2rem;
}

span {
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

em {
  font-size: 0.7rem;
}

.border-current {
  border-color: var(--current_color);
}

.border-secondary {
  border-color: var(--secondary_color);
}

.color-primary{
  color: var(--primary_color);
}

.color-secondary{
  color: var(--secondary_color);
}

.bg-transparency{
  background-color: var(--background_color);
}

.color-complementary{
  color: var(--complementary_color);
}

.svg {
  width: 1.5rem;
  height: 1.5rem;
}

.icone_svg:hover{
  background-color: var(--primary_color);
  color: var(--complementary_color);
}

.icone_svg{
  color: var(--current_color);
}