.cart_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.cart_image_item{
 border-radius: 5px;
 height:100%;
 max-height: 200px;
}

.cart_container_item{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.background_card{
    background-color: var(--transparency_color);
    padding: 3rem;
    border-radius: 10px;
}

.cart_price_item{
    font-size: 1.4rem;
    font-weight: 600;
    width:auto;
    color: var(--primary_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_price_item p{
    white-space: nowrap;
}

.cart_content_item{
    display: flex;
    flex-direction: column;
}

.cart_informations-paiement{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart_price_informations-paiements{
    width:auto;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detail-total-order{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.separator{
    width: 100%;
    height:1px;
    background-color: var(--primary_color);
    opacity: 20%;
}


.separator_white{
    width: 100%;
    height:1px;
    background-color: var(--complementary_color);
    opacity: 50%;
}

.container-total{
    background-color: var(--primary_color);
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--complementary_color);
    width: 30%;
    height: fit-content;
}

.all{
    width: 100%;
}
.container_cart_informations_paiements{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.white{
    color: var(--complementary_color)
}

.cart_total-order{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.cart_price_total_item{
    font-size: 1.5rem;
}

.container_total_order{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4rem;
    align-items: center;
}

@media (max-width: 1000px){

    .container_cart_informations_paiements {
      flex-direction: column;
    }

    .container-total{
        width: 100%;
  }

  .cart_container{
    width: 100%;
  }
}