.bg-complementary {
    background-color: var(--complementary_color);
}

.input:focus{
    border: 1.5px solid var(--secondary_color) !important;
}

.bottom-icone-form{
    width: 45%;
    top: 77%;
    left: 120%;
}

.bottom-icone-form_dog_smelling{
    width: 45%;
    top: 78%;
    left: 126%;
}