.bg-complementary {
    background-color: var(--complementary_color);
}

.input:focus{
    border: 1.5px solid var(--secondary_color) !important;
}

.bottom-icone-form{
    width: 12%;
    bottom: -8%;
    right: 13%;
}

.bottom-icone-form_dog_smelling{
    width: 20%;
    right: 7%;
    bottom: -2%;
}

.position-icon-cat1{
    bottom: -3%;
    width: 10%;
    right: 10%;
}

.position-icon-cat2{
    bottom: -5%;
    width: 12%;
    right: 10%;
}