.background {
  background-color: var(--current_color);
}

.background_header{
  background-color: var(--background_color);
}

.svg_navbar {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--current_color);
}

.svg_navbar:hover{
    color: var(--secondary_color);
}

.svg_navbar:focus{
    color: var(--secondary_color);
}

.current_page{
    color: var(--secondary_color);
}

.link:hover{
    color: var(--secondary_color);
}

.content{
  min-height: calc(100vh - 64px - 124px);
}