.bg-primary{
  background-color: var(--primary_color);
}

.bg-secondary{
    background: var(--secondary_color);
}

.arrow_icon:hover{
    background-color: var(--secondary_color);
    color: var(--complementary_color)
}

.form_on{
  overflow: hidden;
  max-height: 600px;
  transition: all 0.4s ease;
}

.form_off{
  overflow: hidden;
  max-height: 0px;
  transition: all 0.4s ease;
}

.button:hover{
  width: 2.2rem;
  height: 2.2rem;
  transition: all 0.2s ease;
}

.button{
  width: 2rem;
  height: 2rem;
  transition: all 0.2s ease;
}